---
http_interactions:
- request:
    method: post
    uri: https://sandbox.reverb.com/api/listings
    body:
      encoding: UTF-8
      string: '{"make":"Fender","model":"Stratocaster","sku":"THETESTSKU"}'
    headers:
      Content-Type:
      - application/hal+json
      X-Auth-Token:
      - mangled_token
  response:
    status:
      code: 412
      message: Precondition Failed
    headers:
      Content-Type:
      - application/hal+json
      Status:
      - 412 Precondition Failed
      X-Revision:
      - fda6d910fe5754c2129bb9368ea10ed75fae50b3
    body:
      encoding: UTF-8
      string: '{"message":"Please fill in all the fields required for submitting your
        listing to the marketplace.","listing":{"make":"Fender","model":"Stratocaster","finish":"","title":"Fender
        Stratocaster","offers_enabled":false,"_links":{"photo":{"href":"https://da1wmtc5ur1xq.cloudfront.net/assets/products/blank_medium-19ba00051c336ac75f04e103a1ae310b.jpg"},"self":{"href":"/api/listings/-fender-stratocaster"},"update":{"method":"PUT","href":"/api/listings/-fender-stratocaster"},"end":{"method":"PUT","href":"/api/my/listings/-fender-stratocaster/state/end"},"want":{"method":"PUT","href":"/api/wants/-fender-stratocaster"},"unwant":{"method":"DELETE","href":"/api/wants/-fender-stratocaster"},"edit":{"href":"/api/listings/-fender-stratocaster/edit"},"web":{"href":"https://sandbox.reverb.com/item/-fender-stratocaster"},"add_to_wishlist":{"method":"POST","href":"/api/my/wishlist/-fender-stratocaster"},"remove_from_wishlist":{"method":"DELETE","href":"/api/my/wishlist/-fender-stratocaster"},"flag":{"href":"/api/listings/-fender-stratocaster/flag"},"contact_seller":{"web":{"href":"https://sandbox.reverb.com/my/messages/new?item=-fender-stratocaster\u0026to=1-audrey-l"}},"conversations":{"href":"/api/listings//conversations"},"shop":{"href":"/api/shops/audreys-gear-bazaar","web":{"href":"https://sandbox.reverb.com/shop/audreys-gear-bazaar"}}},"accepted_payment_methods":[],"location":{"country_code":null,"locality":null,"region":null},"has_inventory":false,"draft":true,"live":false,"cloudinary_photos":[],"shop":{"feedback_count":2,"preferred_seller":false,"rating_percentage":0.6},"stats":{"views":0,"watches":0},"offer_count":0,"shipping_policy":"I
        will ship with tracking to the continental United States. Alaska, Hawaii,
        and international shipments may incur additional charges.","payment_policy":"To
        negotiate price, shipping, or payment options, please send a message or make
        an offer.","is_my_listing":false,"photos":[],"shipping":{"us":false,"rates":[]},"seller":{"paypal_email":"reuben.vonrueden@moriette.org"}},"errors":{"sku":["You
        already have a listing with the SKU THETESTSKU. Please use a unique SKU."]}}'
  recorded_at: Tue, 06 Oct 2015 18:20:41 GMT
recorded_with: VCR 2.9.3
