---
http_interactions:
- request:
    method: get
    uri: https://sandbox.reverb.com/api/webhooks/registrations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
      X-Auth-Token:
      - mangled_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json
      Etag:
      - '"9653bdfae43787f4f7ac431c626c2382"'
      Status:
      - 200 OK
      X-Revision:
      - fda6d910fe5754c2129bb9368ea10ed75fae50b3
    body:
      encoding: UTF-8
      string: '{"registrations":[{"url":"http://requestb.in/1etnuhm1","topic":"listings/update","created_at":"2015-10-06T13:17:09-05:00","_links":{"self":{"href":"/api/webhooks/registrations/5"}}}]}'
  recorded_at: Tue, 06 Oct 2015 18:18:26 GMT
- request:
    method: delete
    uri: https://sandbox.reverb.com/api/webhooks/registrations/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
      X-Auth-Token:
      - mangled_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json
      Etag:
      - '"99914b932bd37a50b983c5e7c90ae93b"'
      Status:
      - 200 OK
      X-Revision:
      - fda6d910fe5754c2129bb9368ea10ed75fae50b3
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 06 Oct 2015 18:18:27 GMT
- request:
    method: post
    uri: https://sandbox.reverb.com/api/webhooks/registrations
    body:
      encoding: UTF-8
      string: '{"url":"http://requestb.in/1etnuhm1","topic":"listings/update"}'
    headers:
      Content-Type:
      - application/hal+json
      X-Auth-Token:
      - mangled_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/hal+json
      Etag:
      - '"bc23c3fe77404b2242859893b870e426"'
      Status:
      - 201 Created
      X-Revision:
      - fda6d910fe5754c2129bb9368ea10ed75fae50b3
    body:
      encoding: UTF-8
      string: '{"url":"http://requestb.in/1etnuhm1","topic":"listings/update","created_at":"2015-10-06T13:18:27-05:00","_links":{"self":{"href":"/api/webhooks/registrations/6"}}}'
  recorded_at: Tue, 06 Oct 2015 18:18:27 GMT
recorded_with: VCR 2.9.3
