---
http_interactions:
- request:
    method: get
    uri: https://sandbox.reverb.com/api/my/listings?sku=THETESTSKU&state=draft
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
      X-Auth-Token:
      - mangled_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json
      Etag:
      - '"f55ed91215805e381a8ddbeee9dec568"'
      Status:
      - 200 OK
      X-Revision:
      - fda6d910fe5754c2129bb9368ea10ed75fae50b3
    body:
      encoding: UTF-8
      string: '{"total":1,"_links":{},"listings":[{"make":"Fender","model":"Stratocaster","finish":"","title":"new
        title","created_at":"2015-10-06T13:17:06-05:00","shop_name":"Audrey''s Gear
        Bazaar","price":{"amount":"0.00","currency":"USD","symbol":"$"},"offers_enabled":true,"_links":{"photo":{"href":"https://reverb-res.cloudinary.com/image/upload/a_exif,c_thumb,f_auto,fl_progressive,g_south,h_640,q_85,w_640/v1/v/."},"self":{"href":"/api/listings/14609-new-title"},"update":{"method":"PUT","href":"/api/listings/14609-new-title"},"end":{"method":"PUT","href":"/api/my/listings/14609-new-title/state/end"},"want":{"method":"PUT","href":"/api/wants/14609-new-title"},"unwant":{"method":"DELETE","href":"/api/wants/14609-new-title"},"edit":{"href":"/api/listings/14609-new-title/edit"},"web":{"href":"https://sandbox.reverb.com/item/14609-new-title"},"make_offer":{"method":"POST","href":"/api/listings/14609-new-title/offer"},"add_to_wishlist":{"method":"POST","href":"/api/my/wishlist/14609-new-title"},"remove_from_wishlist":{"method":"DELETE","href":"/api/my/wishlist/14609-new-title"}},"shipping":{"local":false,"us":false,"us_rate":{"amount":"0.00","currency":"USD","symbol":"$"}},"photos":[],"sku":"THETESTSKU"}]}'
  recorded_at: Tue, 06 Oct 2015 18:18:25 GMT
recorded_with: VCR 2.9.3
