---
http_interactions:
- request:
    method: get
    uri: https://sandbox.reverb.com/api/webhooks/registrations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
      X-Auth-Token:
      - mangled_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json
      Etag:
      - '"8df656d56f0f483c8900b0c594093552"'
      Status:
      - 200 OK
      X-Revision:
      - fda6d910fe5754c2129bb9368ea10ed75fae50b3
    body:
      encoding: UTF-8
      string: '{"registrations":[{"url":"http://requestb.in/1etnuhm1","topic":"listings/update","created_at":"2015-10-06T13:18:27-05:00","_links":{"self":{"href":"/api/webhooks/registrations/6"}}}]}'
  recorded_at: Tue, 06 Oct 2015 18:18:27 GMT
recorded_with: VCR 2.9.3
